<template>
<div>List is as below:
  <ul v-if="posts && posts.length">
    <li v-for="post in posts" :key="post.body" :value="post.body">
      <p><strong>{{post.title}}</strong></p>
      <p>{{post.body}}</p>
    </li>
  </ul>
  <ul v-else-if="weatherforecast && weatherforecast.length">
    <li v-for="post in weatherforecast" :key="post.temperatureC" :value="post.temperatureC">
      <p><strong>{{post.temperatureC}}</strong></p>
      <p>{{post.summary}}</p>
    </li>
  </ul>
  <ul v-else>
    <li v-for="error in errors" :key="error" :value="error">
      {{error}}
    </li>
  </ul>
</div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      posts: [],
      weatherforecast: [],
      errors: []
    }
  },

  // Fetches posts when the component is created.
  created() {
    axios.get(`http://localhost:57155/WeatherForecast`
    )
    .then(response => {
      // JSON responses are automatically parsed.
      this.weatherforecast = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })

    // async / await version (created() becomes async created())
    //
    // try {
    //   const response = await axios.get(`http://jsonplaceholder.typicode.com/posts`)
    //   this.posts = response.data
    // } catch (e) {
    //   this.errors.push(e)
    // }
  }
}
</script>
