<template>
  <amplify-authenticator>
    <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <Welcome msg="Welcome to Your Vue.js App"/>
  </div>
    <amplify-sign-out></amplify-sign-out>
  </amplify-authenticator>
</template>

<script>
import Welcome from './components/Welcome.vue'


export default {
  name: 'app',
  components: {
    Welcome
  } 
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
